// General styling of main sections.
.section-about {
    height: $section-height;
    position: relative;
    padding: 10rem 0;

    @include respond(tab-port) {
        padding: 7rem 0;
    }
}

.section-tech {
    // Used On This Page section.
    &__web { 
        background-color: transparent;   
        position: relative;
        height: $section-height;
        padding: 20rem 0;

        // Grey background and shape.
        &::before {
            background-image: $gradient-grey;
            @include bgShape($section-height);

            @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
                -webkit-clip-path: polygon(0 10%, 30% 0, 100% 10%,
                                            100% 90%, 70% 100%, 0 90%);
                        clip-path: polygon(0 10%, 30% 0, 100% 10%,
                                            100% 90%, 70% 100%, 0 90%);
            }
        }

        @include respond(tab-port) {
            padding: 12rem 0;
        }
    }

    // Other Stuff I Work With section.
    &__other {
        height: $section-height;
        position: relative;
        padding: 10rem 0;

        @include respond(tab-port-mid) {
            padding: 7rem 0;
        }
    }
}

// Projects section.
.section-projects {
    background-color: transparent;   
    position: relative;
    height: $section-height;
    padding: 10rem 0 20rem 0;
    margin-bottom: -10rem;

    // Grey background and shape.
    &::before {
        background-image: $gradient-grey;
        @include bgShape($section-height);

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 10%, 30% 0, 100% 10%, 100% 100%, 0 100%);
                    clip-path: polygon(0 10%, 30% 0, 100% 10%, 100% 100%, 0 100%);
        }

        @include respond(phone) {
            @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
                -webkit-clip-path: polygon(0 5%, 30% 0, 100% 5%, 100% 100%, 0 100%);
                        clip-path: polygon(0 5%, 30% 0, 100% 5%, 100% 100%, 0 100%);
            }
    
        }
    }

    @include respond(tab-port) {
        margin-bottom: -5rem;
        padding: 8rem 0 14rem 0;
    }
}
