// Scroll to top button styling.
.scroll-btn {
    @include buttonPress;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;   
    padding: 1rem;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;

    position: fixed; 
    right: 3rem;
    bottom: 3rem;

    @include respond(tab-port) {
        right: 2rem;
        bottom: 2rem;
    }

    @include respond(phone) {
        height: 4rem;
        width: 4rem;
        padding: .5rem;
    }

    @include respond(phone-mid) {
        right: 1rem;
        bottom: 1rem;
    }

    z-index: 99;

    svg {
        height: 4rem;
        width: 4rem;

        @include respond(phone) {
            height: 3rem;
            width: 3rem;
        }       
    }

    // Color when not in footer.
    &--light {
        border-color: $color-grey-light-2;

        svg {
            fill: $color-grey-light-2;
        }
    }

    // Color when in footer.
    &--dark {
        border-color: $color-btn-dark;

        svg {            
            fill: $color-btn-dark;
        }
    }
}